.container {
  height: 90vh;
  width: 40vw;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}
.form {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  margin: 2vh;
  height: 70vh;
  box-shadow: inset 5px 5px 5px rgb(143, 142, 142),
    5px 5px 10px rgb(143, 142, 142);
  padding-top: 20px;
}
.card {
  margin: 10px;
  height: 10vh;
}
input {
  width: 30vw;
  height: 4vh;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px gray solid;
}
select {
  width: 30.5vw;
  height: 5vh;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px gray solid;
}
label {
  display: block;
  font-weight: 700;
}
p {
  color: red;
  font-size: 10px;
}

.button:disabled {
  margin-left: 10px;
  color: white;
  width: 40%;
  height: 10%;
  border-radius: 5%;
  background-color: gray;
}

.button:enabled {
  margin-left: 10px;
  color: aliceblue;
  font-style: italic;
  font-weight: 1000;
  width: 40%;
  height: 10%;
  border-radius: 5%;
  background-color: rgb(79, 174, 218);
  box-shadow: 5px 5px 10px #666;
  cursor: pointer;
  user-select: none;
}
